html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
iframe:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}

svg {
  border: 5px solid blue;
}

.value-label {
  font-size: 10px;

  &.invert-text-color {
    fill: white;
  }
}
